<article class="panel-tareas">
    @if (usuario) {
    <div class="panel-header">
        <h2>Tareas de {{ usuario }}</h2>
        <button class="btn-agregar" (click)="formularioVisible = true">Agregar Tarea Nueva</button>
    </div>

    <div class="lista-tareas">
        @for (tarea of tareas; track tarea.id) {
        <app-tarea [tarea]="tarea"></app-tarea>
        }
    </div>

    @if (formularioVisible) {
    <app-tarea-nueva 
        (cancelar)="cerrarFormulario()" 
        (agregar)="guardarTarea($event)">
    </app-tarea-nueva>
    }
    }
</article>